# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/

# Environment
.env
*.env

# Frontend
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
.vercel
